{%- comment -%}
  /**
   *  Product Card
   *
   *  Renders a product card.
   *
   *  @author Brenden Mersey
   *
   *  @usage {%- render "card-product", product: product -%}
   *
   *  @param mixed product object
   *  @return void
   *
   *  @package Shopify
   *  @subpackage molsoft
   */
{%- endcomment -%}

{%- if product and product != empty -%}
  {%- liquid

    assign product_title = product.title | default: ""
    assign product_url = product.url | default: ""
    assign product_vendor = product.vendor | default: ""

  -%}

  <div class="card-product">
    <div class="card-product__container">
      <div class="card-product__image">
        <a class="card-product__link" href="" target="_self" title="{{ product_title }}">

        </a>
      </div>
      <div class="card-product__details">
        <div class="card-product__vendor">
          {{ product_vendor }}
        </div>
        <strong class="card-product__title">
          {{ product_title }}
        </strong>
        <div class="card-product__price">

        </div>
      </div>
    </div>
  </div>

{%- endif -%}
