{%- comment -%}
  /**
   *  Featured Collection
   *
   *  Dynamic Shopify section that displays a collection of products from
   *  from a featured collection.
   *
   *  @author Brenden Mersey
   *
   *  @package Shopify
   *  @subpackage molsoft
   */
{%- endcomment -%}

{%- liquid

  assign selected_collection = section.settings.collection | default: false

-%}

<div class="container">
  <div class="container__row">

    {%- for product in selected_collection_products -%}
      {%- render "card-product", product: product -%}
    {%- endfor -%}

  </div>
</div>

{% schema %}
{
  "name": "Featured Collection",
  "tag": "section",
  "class": "section section--featured-collection featured-collection",
  "settings": [
    {
      "content": "Padding",
      "type": "header"
    },
    {
      "label": "Padding Top",
      "type": "range",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "default": 65,
      "id": "padding_top"
    },
    {
      "label": "Padding Bottom",
      "type": "range",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "default": 65,
      "id": "padding_bottom"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
